<%- include('./partials/header') %>
<h3>Your one-stop-shop to craft your world!</h2>
    <br><br><br>
    <h4>if you're here to create:</h4>
    <ul>
        <li>sign in with Google</li>
        <li>click on New Main Scene link (or All Scenes if you already have a project going)</li>
        <li>input the information and get on your way!</li>
    </ul>
    <br><br><br>
    <h4>if you're here to look:</h4>
    <ul>
        <br><br>
        <li>click on Scenes Overview</li>
        <li>navigate scenes from there</li>
        <br>
        <div>Remember! you can only create and edit after signing in!</div>
    </ul>
\<%- include('./partials/footer') %>
