body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login img {
  height: 30px;
}

.delete {
  display: inline;
}

.profile {
  border-radius: 50%;
  height: 2rem;
}

.logged-in {
  text-align: right;
}

.scene {
  border: 2px solid black;
  justify-items: center;
}

.scene-title {
  
}